/*
Saloon, bank, bath house, and livery stable fronts in Pioneertown, California: an unincorporated and inhabited town built in 1946 as a movie/tv set by, amongst others, Roy Rogers. Photo by Matthew Field, 2008. Permission is granted to copy, distribute and/or modify this document under the terms of the GNU Free Documentation and Creative Commons licenses. Copyleft: This work of art is free; you can redistribute it and/or modify it according to terms of the Free Art License.
*/
html {
  background: url(/assets/images/Pioneertown_California.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body { font-family: 'Smokum', cursive; }
h1, h2, h3, h4, h5, h6 { font-family: 'Rye', cursive; }

/* hangman graphics-user-interface */
#hangman_title {
  color: #81A2BE;
  font-size: 3em;
  text-shadow: 2px 2px 8px #000000;
  text-align: center;
  padding: 5px;
}
#separators { color: #ffffff; }
#hangman_game { color: #ffffff; }
.hangman_labels, .hangman_counters {
  text-align: center;
  font-size: 2em;
  line-height: 125%;
}
.hangman_labels {
  color: #A88119;
  text-shadow: 2px 2px 4px #000000;
  }
.hangman_counters {
  color: #C22126;
  text-shadow: 2px 2px 4px #000000;
  }
#gallows {
  position: relative;
  float: right;
  z-index: 9;
}
#gallows_extension1 {
  position: absolute;
  right: 0;
  bottom: 41px;
  z-index: 10;
}
/*#gallows_extension2 {
  position: absolute;
  right: 0;
  bottom: 208px;
  z-index: 8;
}*/

/* hangman MEDIA-QUERIES, mobile-first */
/* iPhone Retina */
@media only screen and (min-width: 320px) and (max-height: 430px) {
  #hangman_container {
    margin: 20px auto;
    max-width: 320px;
  }
  #gallows_extension1, #gallows_extension2 { display: none; }
}

/* EXTRA-small devices, phones */
@media only screen and (min-width: 480px) {}

/* SMALL devices, tablets */
@media only screen and (min-width: 768px) {}

/* MEDIUM devices, desktops */
@media only screen and (min-width: 992px) {}

/* LARGE devices, widescreens */
@media only screen and (min-width: 1200px) {}
