html, body { height: 100% };
.pageWrap {
  display: table;
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 auto -80px;
  /*padding-bottom: 80px;*/
  }
header { text-align: center; }
nav a { color: white; text-decoration: none; }
.mainContent {
  padding-bottom: 80px; /* same height as footer */
  overflow: auto;
}
#header_contents li {
  display: inline;
}
pushFooter, .stickyFooter { height: 80px; }
.stickyFooter {
  /*margin-top: -80px; /* negative footer height */*/
  line-height: 80px;
  clear: both;
  color: #ffffff;
  background-color: black;
  text-align: center;
}
